@media(max-width: 600px){
	.menu{
		width: 100%;
		position: static;
		box-sizing: border-box;

	}
	.main{
		margin: 30px 5%;
	}
	.tariff{
		width: 100%;
		margin-bottom: 30px;
	}
	.member{
		width: 100%;
		margin-bottom: 30px;
	}

}